header {
    background-color:burlywood;
    color:maroon;
    padding: 1rem;
    position: sticky;
    top: 0;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
